<h1><a href="users/<%=@user.slug%>"><%= @user.username %>'s</a> Firearms</h1>

<br>

<p><% if flash.has?(:message)%><%= flash[:message] %><% end %></p>

<br>

<ul>
  <% @firearms.each do |firearm| %>
  <li><a href="firearms/<%=firearm.id%>"><%= "#{firearm.make} #{firearm.model}"%></a></li>
  <% end %>
</ul>

<br>
  
<form method="get" action="/firearms/new">
<input type="submit" value="Add A New Firearm">
</form>